<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  class="grid grid-cols-1 gap-4 items-start overflow-y-auto h-full [&_label]:shrink-0">
  <h1 class="text-xl text-center divider m-0">Service Provider</h1>

  <fieldset class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box">
    <legend class="fieldset-legend text-sm">Common Fields</legend>
    <legend class="fieldset-label">Name</legend>
    <label
      class="input flex items-center tooltip tooltip-info tooltip-top w-full"
      data-tip="A human-readable name for the service provider">
      <span class="material-symbols-rounded opacity-50">domain_add</span>
      <input type="text" class="grow" placeholder="Name" formControlName="name" />
      <span class="badge badge-error">Required</span>
    </label>
  </fieldset>

  <div class="flex flex-col items-center">
    <div class="divider mt-0"></div>
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg w-full btn-primary">
      <i class="material-symbols-rounded">add</i>
      Create Service Provider
    </button>
  </div>
</form>
